<section id="colors">
  <h1 id="colors">Colors</h1>

  <span class="swatch bg-blue text-white">
    <p>#0083db</p>
  </span>
  <span class="swatch bg-green text-white">
    <p>#8DC63F</p>
  </span>
  <span class="swatch bg-purple text-white">
    <p>#5b56a6</p>
  </span>
  <span class="swatch bg-orange text-white">
    <p>#ff9900</p>
  </span>
  <span class="swatch bg-red text-white">
    <p>#c1282b</p>
  </span>
  <span class="swatch bg-light-gray text-dark-gray">
    <p>#E2E7EB</p>
  </span>
  <span class="swatch bg-gray text-white">
    <p>#B3B8BC</p>
  </span>
  <span class="swatch bg-dark-gray text-white">
    <p>#6d787f</p>
  </span>
  <span class="swatch bg-very-dark-gray text-white">
    <p>#3E4448</p>
  </span>
  <hr class="double">
<h6 class="subheading all-caps">Code</h6>
{% highlight html %}
<span class="swatch bg-blue text-white">
    <p>#0083db</p>
  </span>
  <span class="swatch bg-green text-white">
    <p>#8DC63F</p>
  </span>
  <span class="swatch bg-purple text-white">
    <p>#5b56a6</p>
  </span>
  <span class="swatch bg-orange text-white">
    <p>#ff9900</p>
  </span>
  <span class="swatch bg-red text-white">
    <p>#c1282b</p>
  </span>
  <span class="swatch bg-light-gray text-dark-gray">
    <p>#E2E7EB</p>
  </span>
  <span class="swatch bg-gray text-white">
    <p>#B3B8BC</p>
  </span>
  <span class="swatch bg-dark-gray text-white">
    <p>#6d787f</p>
  </span>
  <span class="swatch bg-very-dark-gray text-white">
    <p>#3E4448</p>
  </span>
{% endhighlight %}
</section>