<div class="page-header" id="helpers">
          <h1>Helpers</h1>
        </div>
        <p>Helpers are classes that have no visual appearence but help to layout the page(e.g. Floating an image to the left or right).</p>
        <table class="table table-bordered responsive-utilities">
          <thead>
            <tr>
              <th>Class</th>
              <th>Effect</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.pull-left</textarea></th>
              <td>Adds float:left</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.pull-left-desktop</textarea></th>
              <td>Adds float:left to desktop only.</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.pull-left-tablet</textarea></th>
              <td>Adds float:left to tablet only.</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.pull-left-phone</textarea></th>
              <td>Adds float:left to phone only.</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.pull-right</textarea></th>
              <td>Adds float:right</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.pull-right-desktop</textarea></th>
              <td>Adds float:right to desktop only.</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.pull-right-tablet</textarea></th>
              <td>Adds float:right to tablet only.</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.pull-right-phone</textarea></th>
              <td>Adds float:right to phone only.</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.text-right</textarea></th>
              <td>Aligns child element copy right</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.center</textarea></th>
              <td>Aligns child element copy center</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.flush-margin</textarea></th>
              <td>Removes all margins from element</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.flush-margin-t</textarea></th>
              <td>Removes top margin from element</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.flush-margin-l</textarea></th>
              <td>Removes left margin from element</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.flush-margin-r</textarea></th>
              <td>Removes right margin from element</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.flush-margin-b</textarea></th>
              <td>Removes bottom margin from element</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.flush-padding</textarea></th>
              <td>Removes all padding from element</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.flush-padding-t</textarea></th>
              <td>Removes top padding from element</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.flush-padding-l</textarea></th>
              <td>Removes left padding from element</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.flush-padding-r</textarea></th>
              <td>Removes right padding from element</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.flush-padding-b</textarea></th>
              <td>Removes bottom padding from element</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.hide</textarea></th>
              <td>Hides the element</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.show</textarea></th>
              <td>Shows the element by setting display:block</td>
            </tr>
          </tbody>
        </table>
        <h3 class="subheading">Responsive Utilities</h3>
        <p>These classes help us hide or show things to only certain screen widths. For example if you had a large detailed image you want to show on the desktop but doesn't really translate well to phones you may want to hide it or swap it for a different image. <span class="text-warning">Be careful though because devices will still load all assets regardless of if they are hidden or not.</span></p>
        <table class="table table-bordered responsive-utilities">
          <thead>
            <tr>
              <th>Class</th>
              <th>Phones <small>767px and below</small></th>
              <th>Tablets <small>979px to 768px</small></th>
              <th>Desktops <small>Default</small></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.visible-phone</textarea></th>
              <td class="is-visible">Visible</td>
              <td class="is-hidden">Hidden</td>
              <td class="is-hidden">Hidden</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.visible-tablet</textarea></th>
              <td class="is-hidden">Hidden</td>
              <td class="is-visible">Visible</td>
              <td class="is-hidden">Hidden</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.visible-desktop</textarea></th>
              <td class="is-hidden">Hidden</td>
              <td class="is-hidden">Hidden</td>
              <td class="is-visible">Visible</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.hidden-phone</textarea></th>
              <td class="is-hidden">Hidden</td>
              <td class="is-visible">Visible</td>
              <td class="is-visible">Visible</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.hidden-tablet</textarea></th>
              <td class="is-visible">Visible</td>
              <td class="is-hidden">Hidden</td>
              <td class="is-visible">Visible</td>
            </tr>
            <tr>
              <th> <textarea class="code block" cols="40" rows="1">.hidden-desktop</textarea></th>
              <td class="is-visible">Visible</td>
              <td class="is-visible">Visible</td>
              <td class="is-hidden">Hidden</td>
            </tr>
          </tbody>
        </table>
        <h3 class="subheading">Responsive Visibility Test</h3>
        <p>Just a small demo of how the classes can show or hide certain elements on different devices.</p>
        <ul class="responsive-utilities-test inline unstyled">
          <li><span class="hidden-desktop"><div class="well">Desktop</div></span><span class="visible-desktop"><div class="well bg-green">✔ Desktop</div></span></li>
          <li><span class="hidden-tablet"><div class="well">Tablet</div></span><span class="visible-tablet"><div class="well bg-green">✔ Tablet</div></span></li>
          <li><span class="hidden-phone"><div class="well">Phone</div></span><span class="visible-phone"><div class="well bg-green">✔ Phone</div></span></li>
        </ul>