<li><a href="#colors">Colors</i></a></li>
<li><a href="#typography">Typography</i></a>
  <ul class="nav nav-pills nav-stacked">
    <li><a href="#fonts">Fonts</a></li>
    <li><a href="#headings">Headings</a></li>
    <li><a href="#paragraphs">Paragraphs</a></li>
    <li><a href="#inline-elements">Inline Elements</a></li>
    <li><a href="#blockquotes">Blockquotes</a></li>
    <li><a href="#lists">Lists</a></li>
  </ul>
</li>
<li><a href="#hr">Hr</i></a></li>
<li><a href="#buttons">Buttons</a></li>
<li><a href="#icons">Icons</i></a></li>
<li><a href="#forms">Forms</i></a>
  <ul class="nav nav-pills nav-stacked">
    <li><a href="#inputs">Inputs</a></li>
    <li><a href="#inline-forms">Inline Forms</a></li>
  </ul>
</li>
<li><a href="#tables">Tables</a></li>
<li><a href="#helpers">Helpers</a></li>