<li><a href="#modal">Modal</a></li>
<li><a href="#navigation">Navigation</i></a>
  <ul class="nav nav-pills nav-stacked">
    <li><a href="#navabstracted">Nav Abstracted</a></li>
    <li><a href="#navpills">Nav Pills</a></li>
    <li><a href="#navtabs">Nav Tabs</a></li>
    <li><a href="#breadcrumbs">Breadcrumbs</a></li>
    <li><a href="#pagination">Pagination</a></li>
  </ul>
</li>
<li><a href="#tabs">Tabs</i></a></li>
<li><a href="#tooltips">Tooltips</i></a></li>
<li><a href="#accordion">Accordion</i></a></li>
<li><a href="#carousel">Carousel</i></a></li>
<li><a href="#header">Header</i></a></li>
<li><a href="#footer">Footer</i></a></li>
<li><a href="#affix">Affix</i></a></li>